.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .spinner {
    width: 50px;
    height: 100px;
    text-align: center;
    font-size: 10px;
    position: relative;
    -webkit-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
  }
  
  .spinner > div {
    background-color: #FF6347;
    height: 100%;
    width: 6px;
    display: inline-block;
   
    -webkit-animation: bounce 1.2s infinite ease-in-out;
    animation: bounce 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes bounce {
    0%,
    100% {
      -webkit-transform: scale(0.0);
    }
    50% {
      -webkit-transform: scale(1.0);
    }
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    }
    50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }



/* 
.loading_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    width: 60px;
    height: 60px;
    perspective: 800px;
    position: relative;
  }
  
  .face1 {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: spin 3s linear infinite;
  }
  
  .face2 {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: spin 3s linear infinite;
    transform: rotateY(180deg);
  }
  
  .circle {
    width: 60px;
    height: 60px;
    background-color: #0086FF;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 134, 255, 0.5);
  }
  
  @keyframes spin {
    to {
      transform: rotateY(360deg);
    }
  } */